html {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body {
    color: #111; 
    background-color: #fdfdfd;
    padding: 20px;
    width: auto;
    max-width: 800px;
    min-width: 480px;
    margin: auto;
}